@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .border-green {
    @apply border-2;
    @apply border-solid;
    @apply border-green-500;
  }

  .border-blue {
    @apply border-2;
    @apply border-solid;
    @apply border-blue-500;
  }
}

@layer base {
  .lightred {
    --bg-primary: var(--lightred-bg);
    --bg-main: var(--red-primarymain);
    --bg-light: var(--red-primarylight);
    --bg-dark: var(--red-primarydark);
    --bg-accent: var(--red-secondarymain);
    --bg-highlight: var(--bg-light);

    --text-main: var(--lightred-text);
    --text-primary: var(--red-textprimary);
    --text-secondary: var(--red-textsecondary);

    --border-primary: var(--red-primarymain);
    --border-secondary: var(--red-primarylight);
    --border-accent: var(--red-secondarymain);

    --shadow-primary: 107, 114, 128;
  }

  .darkred {
    --bg-primary: var(--darkred-bg);
    --bg-main: var(--red-primarymain);
    --bg-light: var(--red-primarylight);
    --bg-dark: var(--red-primarydark);
    --bg-accent: var(--red-secondarymain);
    --bg-highlight: var(--red-primarymain);

    --text-main: var(--darkred-text);
    --text-primary: var(--red-textprimary);
    --text-secondary: var(--red-textsecondary);

    --border-primary: var(--red-primarymain);
    --border-secondary: var(--red-primarylight);
    --border-accent: var(--red-secondarymain);

    --shadow-primary: 0, 0, 0;
  }
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;

  /* Theme color declarations */

  /* Red */
  --red-primarymain: 239, 108, 107;
  --red-primarylight: 255, 203, 208;
  --red-primarydark: 252, 50, 39;
  --red-secondarymain: 245, 0, 87;
  --red-secondarylight: 247, 51, 120;
  --red-secondarydark: 171, 0, 60;
  --red-textprimary: 0, 0, 0, 0.87;
  --red-textsecondary: 255, 255, 255;

  /* -Light */
  --lightred-bg: 248, 243, 252;
  --lightred-text: 0, 0, 0, 0.87;

  /* -Dark */
  --darkred-bg: 55, 55, 55;
  --darkred-text: 255, 255, 255;
}

/* Removes the scrollbar from Material UI Timepicker */
ul::-webkit-scrollbar {
  display: none;
}
